/* ! Indice CSS
? ROOT: COLORI, FONT


*/

/* ! body */


/* ! anchor tag */
a {
    text-decoration: none!important
}

.footer-a{
    color: white;
}

/* ! ROOT */
:root{
    --sealBrown: #582707
    --brown: #972D07
    --tomato: #FF4B3E
    --selYellow: #FFB20F
    --maize: #FFE548
}

/* ! FONT */
.jersey-h1 {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 200px;
}
.jersey-h2 {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}

/* !header*/

header{
    color: #fff; /* Colore del testo */
    text-align: center; /* Allineamento del testo */
}


